.jimbotron-wrapper
	background: url('/assets/img/network.jpg') no-repeat center center
	padding: 55px 0;
	position: relative;
	z-index: 2;

.jimbotron
	color: #fff
	inner()

	&__header
		font-size: 40px;
		font-family: Bold
		font-weight: 700;
		text-align: center

	&__item
		text-align: center
		padding: 10px 0

	&__desc
		font-size: 23px
		line-height: 45px;

	&__btn
		margin-top: 10px