include ../slider/slider
include ../brends/brends
include ../tabs/tabs
include ../bunners/bunners
include ../text-content/text-content
include ../call-back/call-back

mixin index()
	//слайдер + баннер
	+slider()
	//бренды
	+brends()
	//табы
	+tabs(getData('tabs'))
	//баннеры
	+bunners()
	//инфо + новости
	+text-content()
	//обратная связь
	+call-back()
