mixin details()
	+b.details-wrapper&attributes(attributes)
		+b.details
			+e.header
				+e.name.header-name Ethereum App developer needed
				+e.buildings
					+b('i').fa.fa-building KORE Technologies
			+e.body.clearfix.details-content__
				+e.side.col-sm-3
					+e.item
						+e.label.label.label-remote
							+b('i').fa.fa-globe Remote
						+e.label.label
							+b('i').fa.fa-clock Full Time
					+e.item.mail
						+b('i').fa.fa-envelope avanalmen@gmail.com
					+e.item.date
						+b('i').fa.fa-calendar Posted on May 17th 2016
				+e.main.col-sm-9
					+e('p').desc A team of people have been working on an app to be developed on the Ethereum Platform. It needs to support
