.details-wrapper
	inner()
	margin-top: 23px;
	min-height: 800px;

.details
	padding: 15px
	border: 1px solid colorBorder

	&__header
		padding-bottom: 22px;
		border-bottom:1px solid colorBorder

	&__buildings
		margin-top: 6px

	&__side
		padding: 20px 0;
		float: left;

.details-content
	&__item
		padding: 20px 0;
		width: 100%;
		border-bottom:1px solid colorBorder

		&:last-child
			border-bottom: none
			padding-bottom: 0;

	&__desc
		padding: 25px 0;