.view-all
	text-align: center;
	padding: 25px 0;
	border: 1px solid #ddd;

	&__link
		font-size: 19px;
		font-weight: bold;
		link(colorText,colorText)
		
		&:before
			position: relative
			left: 160px;
			display: inline-block