mixin call-back()
	+b.call-back&attributes(attributes)
		+e.phone +7 495 645 10 49
		+e.text
			+e('p') Появились вопросы? Звоните нам по будням с 10 до 18.
			+e('p') Также вы можете почитать
				+e('a').link.link-main(href="") ответы на часто задаваемые вопросы
