.developer
	border: 1px solid colorBorder
	padding:15px
	font-size: 12px;
	height:275px

	&__name
		linkMain()

	&__job
		padding: 12px 0;

	&__location
		margin-top:30px
		&:before
			margin-right: 5px;