HelveticaNeueRegular = HelveticaNeue, sans-serif
HNBold = HelveticaNeueBold, sans-serif
HelveticaNeueLight= HelveticaNeueLight, sans-serif

/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "HelveticaNeue";
	src: url("../fonts/HELVETICANEUE.eot");
	src: url("../fonts/HELVETICANEUE.eot?#iefix")format("embedded-opentype"),
	url("../fonts/HELVETICANEUE.woff") format("woff"),
	url("../fonts/HELVETICANEUE.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "HelveticaNeueLight"; */
@font-face {
	font-family: "HelveticaNeueLight";
	src: url("../fonts/HELVETICANEUELIGHT.eot");
	src: url("../fonts/HELVETICANEUELIGHT.eot?#iefix")format("embedded-opentype"),
	url("../fonts/HELVETICANEUELIGHT.woff") format("woff"),
	url("../fonts/HELVETICANEUELIGHT.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "HelveticaNeueBold"; */
@font-face {
	font-family: "HelveticaNeueBold";
	src: url("../fonts/HELVETICANEUEBOLD.eot");
	src: url("../fonts/HELVETICANEUEBOLD.eot?#iefix")format("embedded-opentype"),
	url("../fonts/HELVETICANEUEBOLD.woff") format("woff"),
	url("../fonts/HELVETICANEUEBOLD.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}