

@media screen and (min-width: 768px)
	.top
		&__auth
			margin-right: 14px;
			padding:0
	.auth
		&__btn
			display: none
		&__list
			display: block

	.logo-menu
		&__nav
			display: block


	.btn-main
		&__link
			max-width: 220px
			margin:0 auto 0

	.jimbotron
		&__header
			font-size: 67.5px;

		&__desc
			line-height: 60px;


	.details-content
		&__desc
			padding:25px

@media screen and (min-width: 992px)
	.btn-main
		&__link
			max-width: 320px

@media screen and (min-width: 1170px)
	.btn-main
		&__link
			max-width: 390px