.job
	border: 1px solid #ddd
	padding: 15px;

	&__left
		float: left

	&__name
		linkMain()

	&__date
		padding-top: 7px;


	&__rigth
		float: right

	&__labels
		margin-top: -3px

	&__inner
		float: right


	&__notice
		margin 23px 0 0 5px
		float: left;