include /blocks/job-detail/job-detail

extends /blocks/layout-default/layout-default
//главная страница
block head
	- var pageTitle = 'Ethereum Jobs';
block header
	+header()
block content
	+job-detail()
