.text-content
	padding: 15px 0;

.content-news
	background: #fff
	padding:18px

	&__head
		font-size: 18px
		float: left
		font-family:HNBold
		text-transform: uppercase

	&__arhive
		float: right
		padding:6px

	&__item
		margin-top: 16px;

		&-date
			color: #999
			font-size: 12px

.content-info
	background: #fff
	padding:17px 34px 33px 35px

	&__head
		font-size: 18px;
		text-align: center;
		font-family:HNBold
		text-transform: uppercase

	&__desc
		color: #828282;
		padding: 21px 0;
		font-size: 13px;

	&__offer
		margin-top: 6px
		color: #999
		font-size:13px

		&-header
			text-transform: uppercase

		&-list
			padding: 26px 35px 12px 35px;
			position: relative;
			z-index: -1;

		&-item
			font-size:12px
			position: relative
			padding: 2px;

			&:before
				content: ''
				display: block
				sprite $items
				position: absolute
				top: 6px;
				left: -28px;

		&-link
			font-size: 12px
			background: transparent;
			border: none;

	&__wrapper
		opacity: 0.7;

		&.active-off
			opacity:1

			.content-info__outer
				box-shadow none

			.content-info__offer-list
				z-index:0

	&__outer
		box-shadow: inset 0px -190px 190px -50px #fff;


.social-networks
	&__list
		padding:18px 0 3px 0
		margin-top: 14px;
	&__link
		display: block

	&__item
		float: left
		width: 30px;
		height: 30px;
		margin-right:6px
		padding-top: 10px;
		text-align: center;

		&:hover
			padding-top:0
			&:before
				sprite $fb2

		&:before
			content: ''
			sprite $fb
			display: block
			line-height: 30px
			cursor: pointer
			margin:0 auto
			z-index:3

		&:nth-child(2)
			&:hover
				padding-top:0
				&:before
					sprite $in2
			&:before
				sprite $in
				display: block

		&:nth-child(3)
			&:hover
				padding-top:0
				&:before
					sprite $tw2
			&:before
				sprite $tw
				display: block

		&:nth-child(4)
			&:hover
				padding-top:0
				&:before
					sprite $ok2
			&:before
				sprite $ok
				display: block

		&:nth-child(5)
			&:hover
				padding-top:0
				&:before
					sprite $mail2
			&:before
				sprite $mail
				display: block