.header__menu
	background: colorAdd
.main-menu
	display: table
	min-width: 730px;
	
	&__list
		display: table-row
	&__item
		cursor: pointer
		display: table-cell
		text-align: center;
		width: 143px;
		margin-top: -1px;
		height: 38px
		vertical-align: middle

		&:nth-child(2)
			width:109px

		&:nth-child(3)
			width:160px

		&:nth-child(4)
			width:201px

		&:nth-child(5)
			width:130px

		&:nth-child(6)
			width:139px

		&:nth-child(7)
			width:117px

	&__link
		color: #fff;
		display: block;
		padding: 9px
		transition: all 0.4s;
		
		&:hover
			background: #fff
			color: colorMark
			text-decoration: none
