.header__menu
	background: colorAdd
.main-menu
	&__item
		cursor: pointer
		float: left
		text-align: center;
		width: 143px;
		margin-top: -1px;

		&:nth-child(2)
			width:109px

		&:nth-child(3)
			width:160px

		&:nth-child(4)
			width:201px

		&:nth-child(5)
			width:130px

		&:nth-child(6)
			width:139px

		&:nth-child(7)
			width:117px

	/*&:nth-child(2),
	&:nth-child(3),
	&:nth-child(5)
		.main-menu__link
			padding: 7px 39px 8px

	&:nth-child(4)
		.main-menu__link
			padding: 7px 37px 8px

	&:nth-child(6)
		.main-menu__link
			padding: 7px 38px 8px

	&:last-child
		.main-menu__link
			padding: 7px 17px 8px 37px*/

	&__link
		color: #fff;
		display: block;
		padding: 7px 0 8px 0
		
		&:hover
			background: #fff
			color: colorMark
			text-decoration: none
