.header-section
	padding: 10px 0;
	border-top: 1px solid colorBorder
	position: relative;
	z-index: 1;

	&__desc
		text-align: center;
		margin-top: 24px;

	&__rss-icon
		float: right;
		margin-top: 26px;
		font-size: 29px;
		color: colorMain
