.footer
	background: colorFooter
	text-align: center
	color #fff
	font-size:12px
	word-spacing: 5px;
	min-height: 100px;
	height auto
	padding: 20px 0;
	line-height: 30px;
	margin-top: 35px;

	&__link
		display: inline-block

	&__text
		display: inline-block