mixin slider()
	+b.slider&attributes(attributes)
		+b.inner.clearfix
			+b.row
				+b.slider-carousel.col-md-8
					+e.list.clearfix.owl-carousel
						+e.item dfg
						+e.item sdfsdfsdf
					+b.prev prev
					+b.next next
