mixin brends()
	-var brendss = ['assets/images/brends/brends-1.png','assets/images/brends/brends-2.png','assets/images/brends/brends-3.png','assets/images/brends/brends-4.png','assets/images/brends/brends-5.png','assets/images/brends/brends-6.png']
	+b.brends&attributes(attributes)
		+b.inner
			+b.row
				+b.index-brends
					+e.header Наши бренды
					+e('ul').list.clearfix
						each item in brendss
							+e('li').item.col-xs-3
								+e('a').link
									+e('img').img(src = '#{item}' alt='brends')
									+e.action Смотреть игрушки
						+e.large-item.col-xs-6
							+e('a').large-item-link
								+e('img').large-item-img(src = 'assets/images/brends/luxury.png' alt="maxitoys")
								+e.large-item-action Смотреть игрушки