.index-brends
	&__header
		padding:0 8px
		text-transform: uppercase
		font-size: 24px

	&__item
		margin-top:16px
		height: 230px
		text-align: center

	&__link
		cursor: pointer
		display: block;
		height: 230px
		background: #fff;

		&:hover
			opacity 0.7
			text-decoration: none
		
	&__action
		color: colorSecond
		text-align: center;
		font-size: 14px;
		text-transform: uppercase;

	&__large-item
		height: 230px
		margin-top: 16px;
		position: relative

		&-link
			display: block
			height: 230px
			background: #896b58
			cursor: pointer

			&:hover
				opacity 0.7

			
		&-img
			position: absolute;
			top: 50%;
			margin-top: -34px;
			right: 22%;

		&-action
			position: absolute;
			bottom: 17px;
			right: 36%;
			font-size: 14px;
			text-transform: uppercase;
			color: #fff

			&:hover
				text-decoration: none