.bunners
	&__link
		cursor: pointer

	&__head
		font-family: HNBold
		color: #fff
		font-size: 19px;
		position: absolute;
		top: 20px;
		left: 32px;
		line-height: 24px;

	&__more
		position: absolute;
		line-height: 20px;
		bottom: 25px;
		left: 33px;
		color: #fff;

	&__bonus
		font-family:HNBold
		font-size: 24px;
		position: absolute;
		top: 92px;
		right: 37px;
		color: #fff;
		width: 260px;
		line-height: 30px;

	&__btn
		color: #fff
		background: colorMark
		position: absolute;
		top: 163px;
		right: 152px;
		padding: 4px 13px;

		&.btn-main
			font-size:14px
			width: 145px
			padding: 5px 10px;
			text-transform: none

	&__item
		position: relative